* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}
body {
  font-family: "poppins";
  background-color: #000000;
  display: grid;
  grid-template-rows: 75px 1fr 76px;
  height: 100vh;
  margin: 0;
}

.top-nav {
  position: fixed;
  top: 0;
  width: 100vw;
  color: #ffffff;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.top-nav .nav-content {
  width: 90%;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top-nav .nav-content .burger-btn {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
.top-nav .nav-content .burger-btn .burger-btn-line {
  width: 100%;
  height: 0.25rem;
  background-color: #ffffff;
  border-radius: 25px;
}
.top-nav .nav-content .logo-banner {
  width: 90%;
  text-transform: capitalize;
  font-size: 1rem;
  text-align: center;
}

.app-section {
  display: flex;
  margin: 75px auto 91px;
  height: calc(100vh - 151px);
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.app-section .new-game-btn-container {
  background-color: rgba(255, 255, 255, 0.062745098);
  display: none;
  flex-direction: column;
  padding: 16px;
  width: 70vw;
  height: 25vh;
  border: 1px solid #ffffff;
  border-radius: 50px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  justify-items: center;
  padding: 0.5rem;
}
.app-section .new-game-btn-container .new-game-btn {
  height: 45px;
  width: 45px;
  background-color: rgba(255, 255, 255, 0.3137254902);
  color: #ffffff;
  font-size: 2em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}
.app-section .new-game-btn-container .new-game-btn-text {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.app-section .add-player-modal-container {
  height: 90%;
  padding: 1rem;
  display: grid;
  display: none;
  grid-template-rows: 40px 1fr 40px;
  min-height: 60vh;
  gap: 0.5rem;
  width: 70vw;
  padding: 1rem;
  border: 1px solid #ffffff;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.062745098);
  justify-self: center;
  align-self: center;
}
.app-section .add-player-modal-container .add-player-form {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.app-section .add-player-modal-container .add-player-form .player-name-input {
  height: 40px;
  width: calc(75% - 1rem);
  border-radius: 0.75rem;
  border: none;
  border: 1px solid #ffffff;
  padding: 0.5rem;
  font-size: 0.75rem;
}
.app-section .add-player-modal-container .add-player-form .add-player-btn {
  text-align: center;
  align-items: center;
  height: 40px;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.062745098);
  border: none;
  border-radius: 0.75rem;
  padding: 8px;
  border: 1px solid #ffffff;
}
.app-section .add-player-modal-container .add-player-form .add-player-btn img {
  width: 1rem;
  height: 1rem;
}
.app-section .add-player-modal-container .players-list {
  display: flex;
  overflow-y: auto;
  scrollbar-width: none;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  row-gap: 0.5rem;
  list-style: none;
}
.app-section .add-player-modal-container .players-list .add-player-message {
  text-align: center;
  color: #ffffff;
  font-size: 0.75rem;
  margin-top: 2rem;
}
.app-section .add-player-modal-container .players-list .player-on-modal {
  border: 1px solid #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  height: 3rem;
  width: 100%;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-items: center;
}
.app-section .add-player-modal-container .players-list .player-on-modal .player-index {
  text-align: center;
  font-size: 0.5rem;
  align-items: center;
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #000000;
}
.app-section .add-player-modal-container .players-list .player-on-modal .player-name {
  color: #ffffff;
  font-size: 0.75rem;
}
.app-section .add-player-modal-container .modal-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.app-section .add-player-modal-container .modal-btns button {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.062745098);
  border-radius: 0.75rem;
  border: 1px solid #ffffff;
  color: #ffffff;
  height: 30px;
  text-align: center;
  cursor: pointer;
}
.app-section .active-game-container {
  height: 90%;
  width: 100%;
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.062745098);
  border: 1px solid #ffffff;
  backdrop-filter: blur(100px);
  display: grid;
  grid-template-rows: 40px 1fr 40px;
  gap: 0.5rem;
}
.app-section .active-game-container .active-game-top-row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.app-section .active-game-container .active-game-top-row .active-game-action-btns {
  display: flex;
  align-items: center;
}
.app-section .active-game-container .active-game-top-row .active-game-action-btns .active-game-action-btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}
.app-section .active-game-container .active-game-top-row .active-game-action-btns .active-game-action-btn img {
  width: 100%;
  height: 100%;
}
.app-section .active-game-container .active-game-top-row .game-number-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.app-section .active-game-container .active-game-top-row .game-number-holder .game-number {
  background-color: #fff;
  border-radius: 1rem;
  width: 70%;
  height: 2rem;
  font-size: 0.75em;
  padding: 0.25rem;
  margin: auto;
  text-align: center;
}
.app-section .active-game-container .active-game-btns-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.app-section .active-game-container .active-game-btns-container .bottom-row-btn {
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: none;
  font-size: 0.75rem;
}
.app-section .player-list-container {
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}
.app-section .player-list-container .player-card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.app-section .player-list-container .player-card-container .player-card {
  width: 100%;
  height: 5rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 1px solid #ffffff;
  border-radius: 1rem;
  padding: 0.5rem;
}
.app-section .player-list-container .player-card-container .player-card .player-card-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.25rem 1rem;
  color: #fff;
}
.app-section .player-list-container .player-card-container .player-card .player-card-top .player-name {
  font-size: 1rem;
}
.app-section .player-list-container .player-card-container .player-card .player-card-top .points-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.app-section .player-list-container .player-card-container .player-card .player-card-top .points-btns {
  position: relative;
  display: flex;
  gap: 0rem;
  align-items: center;
}
.app-section .player-list-container .player-card-container .player-card .player-card-top .points-btns .positive-balls-container {
  position: absolute;
  top: 1.5rem;
  width: 7rem;
  padding: 0.5rem;
  height: auto;
  background-color: #000000;
  display: grid;
  grid-template-columns: repeat(3, minmax(1.5rem, 1fr));
  gap: 0.25rem;
  row-gap: 0.5rem;
  border: 1px solid #ffffff;
  border-top: none;
  grid-auto-columns: 1fr;
  list-style: none;
}
.app-section .player-list-container .player-card-container .player-card .player-card-top .points-btns .positive-balls-container .positive-ball {
  width: 1.5rem;
  font-size: 0.75rem;
  border-radius: 0.75rem;
  text-align: center;
  height: 1.5rem;
  background-color: #fff;
  gap: 0.5rem;
  color: #000000;
  cursor: pointer;
}
.app-section .player-list-container .player-card-container .player-card .player-card-top .points-btns .negative-balls-container {
  position: absolute;
  top: 1.5rem;
  width: 7rem;
  padding: 0.5rem;
  height: auto;
  background-color: #000000;
  display: grid;
  grid-template-columns: repeat(3, minmax(1.5rem, 1fr));
  row-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  border: 1px solid #ffffff;
  border-top: none;
  grid-auto-columns: 1fr;
  list-style: none;
  display: none;
}
.app-section .player-list-container .player-card-container .player-card .player-card-top .points-btns .negative-balls-container .negative-ball {
  width: 1.5rem;
  font-size: 0.75rem;
  border-radius: 0.75rem;
  text-align: center;
  height: 1.5rem;
  background-color: #fff;
  gap: 0.5rem;
  color: #000000;
  cursor: pointer;
}
.app-section .player-list-container .player-card-container .player-card .player-card-top .points-btns .points-btn {
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.062745098);
  border-radius: 0.5rem;
  background-color: transparent;
  width: 2rem;
  height: 1.5rem;
  padding: 0.25rem;
}
.app-section .player-list-container .player-card-container .player-card .player-card-top .points-btns .points-btn img {
  color: #000000;
  width: 100%;
  height: 100%;
}
.app-section .player-list-container .player-card-container .player-card .player-card-top .points-btns .adding {
  width: 3.5rem;
  background-color: #000000;
  border: 1px solid #ffffff;
  border-bottom: none;
  border-radius: 0.5rem 0 0 0;
}
.app-section .player-list-container .player-card-container .player-card .player-card-top .points-btns .not-adding {
  width: 3.5rem;
  background-color: #000000;
  border-bottom: 1px solid #ffffff;
  border-radius: 0.5rem 0 0 0;
}
.app-section .player-list-container .player-card-container .player-card .player-card-top .points-btns .negating {
  width: 3.5rem;
  background-color: #000000;
  border: 1px solid #ffffff;
  border-bottom: none;
  border-radius: 0.5rem 0 0 0;
}
.app-section .player-list-container .player-card-container .player-card .player-card-top .points-btns .not-negating {
  width: 3.5rem;
  background-color: #000000;
  border-bottom: 1px solid #ffffff;
  border-radius: 0 0.5rem 0 0;
}
.app-section .player-list-container .player-card-container .player-card .player-card-bottom {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  height: 100%;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}
.app-section .player-list-container .player-card-container .player-card .player-card-bottom .potted-balls-container {
  height: 100%;
  width: auto;
  padding: 0.25rem 1rem;
  overflow-x: auto;
  scrollbar-width: none;
  list-style: none;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.app-section .player-list-container .player-card-container .player-card .player-card-bottom .potted-balls-container .potted-ball {
  text-align: center;
  font-size: 0.65rem;
  background-color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
}

.bottom-nav {
  position: fixed;
  bottom: 1rem;
  width: 70vw;
  height: 60px;
  border-radius: 2rem;
  padding: 0.25rem;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-self: center;
  background-color: rgba(255, 255, 255, 0.062745098);
}
.bottom-nav .bottom-nav-btn {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.bottom-nav .bottom-nav-btn img {
  width: 100%;
  height: 100%;
}

.show-btn {
  display: none;
}

.lower-btns {
  display: none;
}

.game-records-container {
  display: none;
}/*# sourceMappingURL=style.css.map */