@import "tailwindcss";

@font-face {
  font-family: "poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

:root {
  /* --accent-bg: #da1c1c; */
  --accent-bg: #1e1e1e;
  --primary-bg: #0f0f0f;
  --primary-color: #ffffff;
  --bro: #1f1f1f;
}

body {
  background-color: red;
  /* background-color: var(--primary-bg); */
  height: 100vh;
}

#root {
  background: red;
  position: relative;
  display: grid;
  grid-template-rows: 75px 1fr 76px;
  height: 100vh;
  color: var(--primary-color);
  width: 100vw;
  background-color: var(--primary-bg);
}
